services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped

  bot:
    build:
      context: ./bot_telegram
      dockerfile: Dockerfile
    restart: unless-stopped
